@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;  
  background-color: #f3f6f9;
}
.dashboard-background{
  background-color: #f3f6f9;
}
.job-description{
  color: #616161;
}
.job-card-description{
  font-size: 0.75rem;
  color: #616161;
}
.job-card-posted-time{
  font-size: 0.70rem;
}
.fs-7{
  font-size: 0.8rem;
}
.btn-brand-color{
  background-color: #f58b0e;
  color: #f6f6f6;
  font-weight: 500;
}
.btn-brand-color:hover{
  background-color: #e38212;
  color: #f6f6f6;
  font-weight: 500;
}
.searchInput::placeholder {
   font-size: 0.9rem !important;
}
.login {
  min-height: 90vh;
}
.select-category  li a{
  color: grey;
  font-weight: 500;
}
.bg-image {
  background-image: url("images/loginSideImage.png");
  background-size: cover;
  background-position: center;
}

.forget-password-bg-image {
  background-image: url("images/forgetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}
.reset-password-bg-image {
  background-image: url("images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}
.header-nav {
  min-height: 10vh;
}
.login-heading {
  font-weight: 600;
}
.btn-login {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.25rem 1.25rem;
  background-color: #f58b0e;
  color: #ffffff;
}
.btn-login:hover {
  background-color: #e38212;
  color: #ffffff;
}
.btn-linkedin {
  background-color: #0077b5; 
}



.btn-linkedin:hover {
  background-color: #106d9f;
}

.login-form > .form-control {
  background-color: #f6f6f6;
  padding: 1.5rem 0.75rem !important;
}
.label-text {
  color: lightslategray;
}
.login-input-group-text {
  background-color: #f3f6f9;
  padding: 1.5rem !important;
}
.brand-color {
  color: #e38212;
  font-weight: 900;
}

.sign-up-buttons {
  background-color: #f58b0e;
  font-weight: 900;
  border: #f58b0e;
}

.sign-up-buttons:hover {
  background-color: #e38212;
}

.role-selectors-bg-image {
  background-image: url("images/roleSelectionSideImage.png");
  background-size: cover;
  background-position: center;
}

.professional-bg-image{
  background-image: url("images/professionalSideImage.png");
  background-size: cover;
  background-position: center;
}
.role-selector-cards:hover {
  background-color: #f9e1d1;
  cursor: pointer;
}
.rightArrowIcon {
  color: #e38212;
}
.button-bold-text {
  font-weight: 700;
}
.btn-brand-background-color {
  background-color: #f58b0e;
}

.btn-brand-background-color:hover {
  background-color: #e38212;
  color: #ffffff;
}

.visible-eye {
  color: #a5a5a5;
  cursor: pointer;
}

input.login-input:focus {
  box-shadow: none;
}

.signup-link,
.signInLink {
  cursor: pointer;
}

.social-signup:hover {
  cursor: pointer;
}
.role-selection-description, .profile-descriptions {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #616161;
}
.profile-header{
  font-weight: 600;
}
.form-check-label{
  font-size: 0.75rem;
  color: #616161;
}
input[type=date]:valid::-webkit-datetime-edit {
  color: #616161 !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: yellow;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
.profile-side-headers{
  font-size: 1.3rem;
  font-weight: 700;
}
.profile-inner-headers{
  font-size: 1.1rem;
  font-weight: 500;
}








/* krishna kumar css edits */

/* newly added job description component(jobDescription.jsx) css */
.job-description{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.company-details-icon{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.dashboard-responsibility-ul{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.dashboard-skills-ul{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.dashboard-job-post-icons{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.dashboard-additional-information-ul{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.job-heading{
  font-size: 1.3rem;
  font-weight: 700;
}
.job-posted-on{
  color: #a3a3a3;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}



/* newly added job card component(jobCard.jsx) css */
.job-card-component-heading{
  font-weight: 700;
}
.job-card-description{
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.job-card-posted-time{
  color: #a3a3a3;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.card-company-details-icon{
  color: #a3a3a3;
}





/* newly added job workspace component(jobworkspace.jsx) css */
.filter-results{
  font-size: 0.9rem;
}




/* newly added job card component(jobCard.jsx) css */
.filter-section{
  font-size: 0.9rem;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.filter-section.form-select option{
  padding: 15px!important;
} 
.filter-section.form-control:focus {
  border-color: #a3a3a3;;
  outline: 0;
  box-shadow: none;
}
.job-filter-heading span{
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.job-filter-sub-headings{
  font-size: 1rem;
  font-weight:700;
  line-height: 1.8rem;
}
.form-check-label{
  font-size: 0.9rem;
}



/* newly added filter method component(filtermethod.jsx) css */
.filter-menus{
  padding: 0.13rem 0;
}



/* width for header seeting-row-height  */
:root{
  --nav-height:4rem;
  --dashboard-menu:5rem;
}
.navbar-height{
  height: var(--nav-height);
}
.setting-row-height{
  height: calc(100vh - (var(--nav-height) + var(--dashboard-menu)));
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


/* job description sticky height  */
.JobDescription-sticky-top-height{
  top: 0;
  padding: 1.5rem;
}